<%= turbo_frame_tag event do %>
  <div id="<%= dom_id event %>" class="w-full grid grid-cols-5 gap-4 p-3 items-center hover:bg-table-row-hover transition rounded-lg">
    <div class="text-neutral font-medium text-sm">
      <%= event.name %>
    </div>

    <div class="text-neutral text-sm truncate">
      <%= truncate(event.description, length: 50) %>
    </div>

    <div class="text-neutral text-sm">
      <%= event.event_date.strftime("%d/%m/%Y") %>
    </div>

    <div class="text-neutral text-sm">
      <%= event.organizer.to_s %>
    </div>

    <div class="flex justify-center items-center space-x-2">
      <%= link_to "Show", event, class: "rounded-lg py-1 px-3 bg-table-button-neutral text-primary font-medium hover:bg-table-button-neutral-hover transition" %>
      <%= link_to "Delete", event, method: :delete, data: { confirm: "Are you sure?" }, class: "rounded-lg py-1 px-3 bg-table-button-red text-table-text-red font-medium hover:bg-table-button-red-hover hover:text-white transition" %>
    </div>
  </div>
<% end %>
